include presentation-header

include menu

article#presentation

  section
    h1 Proyek Kolaborasi TI
    p Pengenalan Alur Kerja Kolaborasi

  section
    h2 Pembangunan Perangkat Lunak
    h3 (Software Construction)
    blockquote.
      (Software) construction is mostly coding and debugging but also involves 
      elements of detailed design, unit testing, integration, 
      integration testing, and other activities.
      <small>Steven C. McConnell</small>

  section
    h2 Software Construction
    img(src="images/construction.png")

  section(data-bespoke-hash='programming-flow')
    h2 Programming Flow
    img.big(src="images/CodingFlow.png")

  section(data-bespoke-hash='programming-flow-focused')
    h2 Programming Flow
    h3 Fokus Pembelajaran
    img.big(src="images/CodingFlowFocused.png")

  section
    h2.bullet Software yang Dibutuhkan
    hr
    ul
      li Version Control <a href="http://git-scm.com/">Git</a>
      li Kolaborasi Git <a href="http://github.com/">GitHub</a>
      li Bug Tracker <a href="http://github.com/">GitHub's Bug Tracker</a> dan <a href="http://www.redmine.org/">RedMine</a>
    hr
    ul
      li
        strong Enjoy! :)
        a(href='http://twitter.com/bertzzie') -@bertzzie


include presentation-footer
include main-footer