- var pageTitle = 'Presentasi TKPPL'

include presentation-header

include menu

article#presentation


	section
		h2 Inner Peace
		ul
			li By
			li Kenny Winata
			li Susanto
			li Alexander
			li Christoper


	section
		h2 Tujuan Inner Peace
		ul
			li 1. Membereskan diri kita dari sampah sampah emosi (emotional garbage) termasuk limiting believe 
			li (yg membuat kita merasa tidak mampu untuk meraih sesuatu ). 
			li Sampah ini menjadi beban yang terus menerus membebani kita selama hidup!
			


	section
		h2 Tujuan Inner Peace
		ul
			li 2. Menggali potensi diri kita.
			li Oprah Winfrey memiliki pengalaman dimasa remaja, hidup dlm lingkungan yg kumuh dan keras.. 
			li dilecehkan oleh paman sendiri..dimana dia hamil dan menggugurkan kandungannya. Ini menimbulkan penyesalan mendalam dalam dirinya 
			li Ini menimbulkan penyesalan mendalam dalam dirinya.
			li Dia baru bisa optimal sampai menjadi pembicara talkshow hebat setelah dia berdamai dengan masa lalunya. 
			li Untuk bisa menaklukkan dunia, taklukkan dulu diri sendiri!

	section
		h2 Tujuan Inner Peace
		ul
			li 3. Mempercepat PENCAPAIAN / TUJUAN HIDUP ( goal setting )
			li Erik Weihenmayer adalah seorang buta yang berhasil menaklukkan Mount Everest dan menjadi motivator hebat. Mengetahui dirinya buta, 
			li dulunya dia sangat terpukul, bahkan ingin bunuh diri. Dia membutuhkan waktu bertahun tahun untuk bisa berdamai dengan dirinya. 
			li Dia berhasil menaklukkan dirinya dan selanjutnya menaklukkan Mount Everest! 
			li (untuk orang yang normal saja tidak mudah, apalagi untuk orang yang tanpa penglihatan) 
			li Seringkali kita banyak mempunyai konflik didalam diri kita masing masing yang bersifat destruktif dan merongrong , 
			li sehingga kita sibuk berkutat dengan hal itu terus menerus, sehingga kita tidak sempat untuk menyelesaikan hal hal diluar diri kita. 
			


	
	section
		h1 Fin
		
include presentation-footer
include main-footer

