- var pageTitle = 'Presentasi TKPPL'

include presentation-header

include menu

article#presentation


	section
		h2 Inner Peace
		ul
			li By
			li Kenny Winata(131110577)
			li Susanto(131110453)
			li Alexander(131112184)
			li Christoper(131111181)


	section
		h2 Tujuan Inner Peace
		h3 1. limiting believe
		li 1. Membereskan diri kita dari sampah sampah emosi (emotional garbage) termasuk limiting believe (yg membuat kita merasa tidak mampu untuk meraih sesuatu ). Sampah ini menjadi beban yang terus menerus membebani kita selama hidup!


	section
		h2 Tujuan Inner Peace
		h3 2. Menggali potensi diri kita.
		li Oprah Winfrey memiliki pengalaman dimasa remaja, hidup dlm lingkungan yg kumuh dan keras...dilecehkan oleh paman sendiri..dimana dia hamil dan menggugurkan kandungannya. Ini menimbulkan penyesalan mendalam dalam dirinya. Dia baru bisa optimal sampai menjadi pembicara talkshow hebat setelah dia berdamai dengan masa lalunya. Untuk bisa menaklukkan dunia, taklukkan dulu diri sendiri! 

	section
		h2 Tujuan Inner Peace
		h3 3. Mempercepat PENCAPAIAN / TUJUAN HIDUP ( goal setting )
		li Erik Weihenmayer adalah seorang buta yang berhasil menaklukkan Mount Everest dan menjadi motivator hebat. Mengetahui dirinya buta, dulunya dia sangat terpukul, bahkan ingin bunuh diri. Dia membutuhkan waktu bertahun tahun untuk bisa berdamai dengan dirinya. Dia berhasil menaklukkan dirinya dan selanjutnya menaklukkan Mount Everest! (untuk orang yang normal saja tidak mudah, apalagi untuk orang yang tanpa penglihatan)

	
	section
		h1 Finish

		
include presentation-footer
include main-footer


	