- var pageTitle = 'Presentasi TKPPL'

include presentation-header

include menu

article#presentation


	section
		h2 Inner Peace
		ul
			li By
			li Kenny Winata
			li Susanto
			li Alexander
			li Christoper


	section
		h2 Tujuan  Inner Peace
		ul
			li 1. Membereskan diri kita dari sampah sampah emosi (emotional garbage) termasuk limiting believe  
			li (yg membuat kita merasa tidak mampu untuk meraih sesuatu). 
			li Sampah ini menjadi beban yang terus menerus membebani kita selama hidup!
			
	section
		h2 Tujuan  Inner Peace
		ul
			li 2.  Menggali potensi diri kita.  
			li Oprah Winfrey memiliki pengalaman dimasa remaja, hidup dlm lingkungan yg kumuh dan keras..
			li dilecehkan oleh paman sendiri..dimana dia hamil dan menggugurkan kandungannya. 
			li Ini menimbulkan penyesalan mendalam dalam dirinya.
			li Dia baru bisa optimal sampai menjadi pembicara talkshow hebat setelah dia berdamai dengan masa lalunya. 
			li Untuk bisa menaklukkan dunia, taklukkan dulu diri sendiri! 

	
	section
		h1 Fin
		
include presentation-footer
include main-footer