- var pageTitle = 'Step Untuk Melakukan Inner Peace'

include presentation-header

include menu

article#presentation

	section
		h2 Step Untuk Melakukan Inner Peace 
		h4 Sebelum masuk kepada cara- caranya , pertama-tama ada 3 Tolak ukur seseorang telah bisa berdamai dengan diri sendiri (Inner Peace) adalah

			li Secara pikiran dan perasaan PUAS akan masa lalu (bebas dari penyesalan, rasa bersalah, marah, dendam dan luka batin), menikmati hari ini (syukur) dan Optimis (Berharap untuk )menghadapi masa depan.
			li Secara perilaku, penuh dengan Cinta dan Hanif (keinginan melakukan kebaikan) kepada diri sendiri dan orang lain.
			li Kesadaran sehari-hari, Ridha dengan ketentuan-Nya.
	
	section
		h2 Cara Untuk Mencari Inner Peace
		h3 Karena Kami Bukan Alihnya, Kami Memberikan Cara mudahnya saja.
			
	section
		h2 Step No.1 
		ul
			li Menyelesaikan Hal yang belum terselesaikan.
			li menyelesaikan permasalahan anda akan benar-benar membantu jiwa anda merasa bebas. Dari oada anda mempunyai isu-isu , masalah yang belum anda selesaikan. Secara otomatis anda akan merasa berat untuk menjalani hari -hari jika masalah tersebut belum terselesaikan.

	section
		h2 Step No.2
		h3 Menyerah Dan Menerima apa adanya.
		ul
		
		li bukan berarti anda harus menyerah, tetapi ada suatu titik dimana anda harus melihat sisi jeleknya, Yang saya maksudkan, jangan terlalu "push yourself over the maximum limit", anda juga manusia yang punya batasan, Anda sendiri yang tahu anda sudah over limit apa tidak. Dari pada anda bertahan dan bersusah payah pada hal yang jelas anda tidak bisa dapatkan atau pertahankan. Dan tidak ada hasilnya.
	
	section
		h2 Step No.3
		h3 Sikap anda terhadap orang lain
		li Kendalikan diri anda saat berinteraksi dengan orang lain. Orang lain tidak mengatur sikap anda. Persiapkan Mental anda pada situasi apapun dari susah, tenang, dan tentunya saat tertekan.

	section
		h2 Step No.4
		h3 Menjadi sadar dan peka terhadap perasaan 
		li bukan jadi anda menjadi orang yang sangat sensitif,Abaikan hal yang tidak bagus untuk hati/ jiwa anda. Jika tidak ketenangan anda akan terganggu. Walaupun tidak terasa tapi dampak ini akan "menyenggol" mood anda kedepannya.

	section
		h2 Step No.5
		h3 Berbicaralah yang jujur
		li Dari pada anda berbohong, Jadilah jujur. Tampillah apa adanya, yang nyaman untuk anda, Menyembunyikan kebenaran dalam jangka panjang tidak jadi penyelesaian.

	section
		h2 Step No.6
		h3 Lebih Tahu diri
		li Luangkan waktu untuk memahami siapa anda sebenarnya. Kendalikan ego anda, Apa yang anda inginkan sebetulnya.

	section
		h2 Step No.7
		h3 Adrenalin
		li Adrenalin adalah pilihan masyarakat dalam mengatasi stress. Adrenain memberi kita sentakan energi super ketika kita mengalami ancaman. Tapi sebagian besar kita menggunakannya untuk melewati hari sibuk.

	section
		h2 Step No.8
		h3 Berdoa
		li Mendekatkan diri dengan sang Pencipta juga tidak ada salahnya. Karena hal tersebut kadang adanya bisa menenangkan hati dan pikiran seseorang.

	section
		h2 Step No.9
		h3 Jangan Melangkahi Hal sekecil apapun
		li Jangan mentolerir hal kecil yang membuat hidup anda tidak berkeseimbangan. Anda mungkin tidak bisa mengubah segalanya , tapi kesadaran dan kemampuan anda mengelola toleransi dapat membawa diri anda menuju kedamaian.

	section
		h2 Step No.10
		h3 Proritaskan kedamaian
		li Dampak paling dalam dari kedamaian batin adalah perdamaian menyebar ke dunia luar kita. Jika anda pertama kali membaca kalimat ini anda mungkin akan berkata kepada diri anda sendiri " Ini mustahil / ini omong kosong".Tapi jika anda menemukan perdamaian batin untuk diri sendiri, Anda mnejadi model bagi orang lain untuk menyebarkan kedamamaian kemanapun anda pergi.

include presentation-footer
include main-footer
