- var pageTitle = 'Step untuk melakukan Inner Peace'

include presentation-header

include menu

article#presentation

	section
		h2 Bagaimana Menemukan / Mencapai Inner Peace ( Mengatasi Masalah Dalam Diri) :
		ul
			li 1. Find it ! Cari dan gali permasalahannya, jangan lari dari masalahnya ataupun melupakannya.
			li 2. Face it ! Hadapi kembali, lihat kenyataannya. Ini akan menimbulkan pemahaman baru.
			li 3. Fix it ! Perbaiki dan cari solusinya.
			li 4. Free it ! Bebaskan diri dari masalahnya dengan melihat dari perspektif baru.
		

	section
		h2.Apa pentingnya INNER PEACE?
		hr
		ul
			li kehidupan luar adalah cerminan dari dalam diri. Segala masalah diluar diri akan otomatis selesai bila masalah dalam diri selesai. Untuk itu kedamaian di dalam diri menjadi sangat penting untuk menciptakan kedamaian di luar diri

				
	section
		h3 Apakah dengan INNER PEACE juga dapat mendatangkan kesuksesan dan keberlimpahan?
		
		p Inner Peace tidak membahasnya! Walaupun ada prinsip: segala sesuatu menjadi mungkin bila kita punya kedamaian jiwa, namun sekali lagi buku ini tidak membahas tentang kesuksesan dan keberlimpahan. Buku ini hanya menyelami kedamaian dalam diri yang kemudian sangat mungkin akan mendatangkan kesuksesan dan keberlimpahan.

	section
		h3 Apa saja yang diselami dalam INNER PEACE?
		p Inner Peace tidak membahasnya! Walaupun ada prinsip: segala sesuatu menjadi mungkin bila kita punya kedamaian jiwa, namun sekali lagi buku ini tidak membahas tentang kesuksesan dan keberlimpahan. Buku ini hanya menyelami kedamaian dalam diri yang kemudian sangat mungkin akan mendatangkan kesuksesan dan keberlimpahan.

	section
		h2 Program ini dibuat untuk orang yang:
		hr
		ul
			li Merasa didhalimi, dikhianati, diperlakukan tidak adil dan dibohongi.
			li Masih menyimpan dendam dan amarah.
			li Tidak bisa bahagia karena tersiksa oleh luka batin.
			li Takut dan khawatir terhadap hal yang belum pasti terjadi kepada diri Anda.
			li Susah menghadapi masa depan karena dihantui oleh masa lalu.
			li Ingin sembuh dari penyakit yang berulang-ulang akibat psikis (Psikosomatis).
			li Ingin berdamai dengan rasa bersalah dan penyesalan akibat pengambilan keputusan keliru di masa lalu.
			li Memutuskan untuk Cinta dan Hanif kepada diri sendiri dan orang lain

	section
		h2 Bagaimana kita mengetahui inner peace kita kurang:
		hr
		ul
			li 1. Sering melarikan diri dari masalah. Misalnya: dengan mengkonsumsi alkohol..dugem gk terkontrol setiap menghadapi problem dll.
			li 2. Mimpi yang berulang ulang terjadi. Ini biasanya problem yang berhubungan dengan sesuatu hal atau peristiwa dimasa lalu. 
			li 3.Ada perasaan tidak nyaman pada suatu benda atau orang. Ini menunjukkan adanya sesuatu yang tidak beres dimasa lalunya.
			li 4.Ada emosi yang tidak wajar ketika mengalami sesuatu. Contohnya, seseorang menjadi histeris disaat mendengar sirine ambulans.

	section
		h2 Find Inner Peace in 10 Ways
		hr 
		ul
			li 1.menerima apa ada nya
			li 2.meditasi
			li 3.Menghabiskan waktu di alam
			li 4.Pelajari kekuatan senyum
			li 5.pikirkan lahiriah
			li 6.Peduli tentang orang lain
			li 7.Jangan kehilangan harapan
			li 8.Merangkul keyakinan Anda
			li 9.Terus belajar untuk apa yang anda yakin
			li 10.Hidup dengan berpikir positif

	section 
		h2 	Apa maksud menerima apa ada nya
		hr	
		p Hanya ada begitu banyak kita dapat mempengaruhi . Apa yang kita tidak bisa mengubah , apa yang kita tidak dapat mempengaruhi tidak peduli apa , tidak harus menjadi perhatian kita . Ini adalah apa yang saya perhatikan dengan begitu banyak orang , bahwa kita fokus dan berlama-lama pada hal-hal yang kita tidak memiliki kontrol atas . Mengapa khawatir tentang sesuatu yang semua mengkhawatirkan di dunia tidak akan berubah ? Mengapa peduli apa yang orang lain pikirkan tentang kita ketika kita bahkan tidak yakin apa yang mereka benar-benar berpikir ? Setelah Anda membuka tirai untuk fakta ini , dan mulai menerima apa yang adalah bahwa Anda tidak dapat mengubah , Anda secara otomatis membebaskan diri dari gunung stres dan kecemasan . Ini seperti beban berat telah diangkat dari bahu Anda . Mengambil jalan ini adalah mengikuti jalan menuju perdamaian .

	section
		h2 meditasi
		hr
		p Jika Anda tidak bermeditasi belum , Anda akan kehilangan aktivitas yang sangat penting yang dapat mengubah hidup Anda . Bermeditasi selama 20 menit setiap hari dapat memiliki dampak yang sangat besar dalam semua bidang kehidupan Anda . Lihatlah posting ini saya tulis 100 Manfaat Meditasi . Jika itu tidak meyakinkan Anda untuk mulai bermeditasi , aku tidak tahu apa yang akan! Jika Anda memiliki banyak pikiran Anda dan Anda merasa seperti pengalaman anda mengemudi Anda gila , meditasi dapat membantu Anda menemukan kedamaian . Cukup menutup semua , duduk kembali , tutup mata Anda , dan membersihkan pikiran Anda dari setiap pikiran . Fokus pada kekosongan . Anda akan terkejut apa yang hanya 20 menit meditasi dapat lakukan untuk membalikkan keadaan untuk Anda . 
	section
		h2 Menghabiskan waktu di alam
		hr
		ul
		p kita menghabiskan begitu banyak waktu terbatas pada bangunan baja dan beton dan batu bata yang kita cepat lupa dari mana kita berasal . Itu wajar bagi kita untuk berada di alam, dan ini adalah mengapa rasanya begitu baik dan itu begitu damai ketika Anda berjalan-jalan di taman atau sepeda pada jejak di hutan . Karena saya mengetik blog ini , saya melihat keluar jendela untuk pohon raksasa ini di depan rumah saya . Menonton keheningan , dengan angin bertiup melalui cabang-cabangnya dengan tenang , itu adalah pemandangan yang tidak hanya menginspirasi saya, tapi yang saya menemukan kedamaian di dalamnya . Saya telah membuat blog sebelumnya tentang bagaimana saya menikmati bersepeda dan salah satu alasan adalah bahwa hal itu membawa saya lebih dekat dengan alam . Ini adalah sesuatu yang Anda tidak bisa mengalami di dalam mobil . Jika Anda merasa kewalahan , berjalan-jalan di luar di mana ada ton pohon dan jauh dari kota . Berada di sana dan hanya menikmati pemandangan , suara , dan perdamaian .
	section
		h2 Pelajari kekuatan senyum
		p Setiap kali Anda tertawa atau tersenyum , sesuatu yang menarik terjadi . Tidak hanya terjadi sesuatu pada tingkat kimia untuk membuat Anda merasa lebih baik , tetapi juga berhenti semua stres dan negatif dari memasuki jiwa Anda . Senyum sederhana dapat membuat perbedaan seperti itu . Misalnya , hari lain saya salah penanganan piring dan jatuh di lantai , melanggar menjadi potongan-potongan , menciptakan kekacauan besar . Sekarang, saya bisa marah pada diriku sendiri karena ceroboh dan berpikir " inilah alasan lain mengapa hidup menyebalkan ! " . Tapi aku sebaliknya . Aku mulai tersenyum dan jenis mengolok-olok diri sendiri karena tidak bisa berpegang pada piring yang benar . Saat aku membersihkan kekacauan , tidak ada kepahitan atau kemarahan . Sebagai soal fakta , saya melakukannya dengan senyum di wajah saya ... saya melakukannya dengan damai . Jadi, setiap kali Anda menemukan diri Anda dalam keadaan yang sama , hanya memikirkan lapisan perak , dan jangan malu untuk mengolok-olok diri sendiri. Anda akan segera menyadari bahwa perdamaian menemukan jalan jauh lebih mudah bagi Anda ketika Anda tersenyum .
	section
		h2 pikirkan lahiriah
		hr
		p Yang saya maksud dengan ini adalah bahwa sebagian besar waktu , kita begitu dikonsumsi dalam masalah kita sendiri bahwa kita tidak bisa lagi melihat hutan dari pohon-pohon . Oleh karena itu , hal ini membantu untuk mengingatkan diri kita sendiri seberapa besar dunia adalah . Luangkan waktu sejenak dan membaca tentang beberapa negara lain , budaya , dan sebagainya . Sadarilah bahwa dunia tidak berputar di sekitar masalah Anda . Saya menemukan bahwa ketika saya mendengar tentang tsunami atau gempa bumi menewaskan ratusan ribu orang di sisi lain dunia , masalah saya tidak benar-benar " masalah " . Melihat luar diri kita sendiri sangat penting dalam menemukan kedamaian dan membawa saya ke titik berikutnya .

	section
		h2 Peduli tentang orang lain
		hr
		p Anda tidak akan pernah menemukan kedamaian dengan menjadi diri dikonsumsi dan hanya mengkhawatirkan kebutuhan Anda sendiri dan keinginan. Ketika Anda mulai benar-benar peduli tentang orang lain , begitu banyak kebaikan datang langsung . Ini hanya membantu dalam memperkuat kedamaian batin Anda . Hal ini dapat orang yang dekat dengan Anda atau orang asing murni, tetapi setiap tindakan kebaikan dan goodwill memudahkan jalan menuju perdamaian . Ketika saya membantu orang lain, saya berhenti berfokus pada masalah saya disebut dan menyadari bahwa hidup saya tidak begitu buruk setelah semua . Ini rids seluruh diri saya dari semua stres dan perasaan membanjiri . Ada kedamaian dan kebijaksanaan dalam berpikir dan peduli tentang orang lain , yang kita buta ketika kita terlalu jauh di dalam cara yang egois kita sendiri .

	section
		h2 Tidak pernah kehilangan harapan
		hr 
		p Harapan adalah sesuatu yang Anda tidak mampu kehilangan . Dengan harapan Anda selalu memiliki jalan menuju perdamaian . Setiap kali kita terlalu stres dan kewalahan dalam kehidupan kita sendiri , kita lupa bahwa harapan . Kita lupa bahwa matahari selalu bersinar setelah hari-hari hujan , dan bahwa ini hanyalah gundukan di jalan . Saya menemukan kedamaian besar hanya mengetahui , jauh di dalam hati saya , bahwa semuanya akan ok . Dengan harapan , saya tahu bahwa apa pun yang tampaknya mengerikan, hanya bersifat sementara dan segera , hal akan baik-baik saja . Ini mengangkat off semua negatif bahwa dari seluruh diri saya, dan saya merasa lebih baik cukup banyak langsung .
	section
		h2 Merangkul keyakinan Anda
		hr
		p Saya tidak satu untuk memilih atau mendukung salah satu sistem kepercayaan atas yang lain , sehingga apa pun yang Anda percaya , menerimanya dengan seluruh diri Anda . Berada dalam iman Anda 100 % dan perdamaian akan menemukan jalan ke dalam hati Anda . Sekarang , kita semua mungkin tidak setuju pada keyakinan masing-masing , tapi satu hal yang kita semua harus setuju pada adalah bahwa memiliki solid, iman yang sehat sangat penting dalam mendirikan hati nurani yang tepat yang membantu dalam membimbing kita menuju perdamaian dan kebijaksanaan . Ada alasan mengapa penelitian telah menunjukkan bahwa orang yang sangat dikhususkan untuk iman mereka memiliki harapan hidup yang lebih tinggi dan cenderung memiliki penyakit seperti kanker . Hal ini karena mereka mengalami kedamaian batin yang lebih , yang penting jika Anda ingin meningkatkan kualitas hidup Anda .
	section
		h2 Terus belajar apa yang anda yakinkan
		hr 
		p Satu hal yang memberikan kita banyak stres dalam hidup adalah kenyataan bahwa kita selalu khawatir tentang tidak memiliki semua jawaban . Hanya menerima bahwa Anda tidak tahu segalanya , dan bahwa Anda terbuka untuk selalu terus belajar merupakan langkah luar biasa untuk mengambil untuk mencapai kedamaian batin . Saya menemukan sukacita yang besar dalam belajar segala macam hal yang berbeda , dan hanya menyadari bahwa saya tumbuh sebagai pribadi masing-masing dan setiap hari memberikan saya dengan perasaan besar damai . Terimalah bahwa hidup adalah satu perjalanan besar yang tidak pernah berakhir belajar dan Anda akan menemukan diri Anda lebih dekat dengan mengalami kedamaian sejati dalam diri Anda .
	section
		h2 Hidup dengan berpikir positif
		hr
		p Sebagian besar waktu , apa yang kita khawatirkan adalah yang berkaitan dengan sesuatu yang baik di masa lalu , atau sesuatu yang belum terjadi . Hidup di saat ini menghapus semua pikiran seperti itu. Mengapa khawatir tentang sesuatu di masa lalu yang kita tidak pernah bisa berubah ? (lihat poin # 1 , menerima apa adanya ) . Mengapa khawatir tentang sesuatu yang kita bahkan tidak yakin akan terjadi atau tidak ? Inilah sebabnya mengapa pada saat ini , Anda menemukan kedamaian batin yang sejati . Pada saat ini , tidak ada masalah dan tidak ada kekhawatiran . Hanya ada keheningan , dan itu adalah dalam bahwa keheningan yang dapat Anda menemukan kedamaian . Aku digunakan untuk menjadi orang seperti yang khawatir sepanjang waktu , ke titik di mana aku kesulitan tidur . Setelah saya belajar untuk hidup di saat sekarang , saya berhenti berpikir tentang masa lalu dan masa depan yang potensial , dan hanya khawatir tentang menjadi selalu hadir di setiap saat . Hidup saya pasti lebih damai sejak saat itu !

	
include presentation-footer
include main-footer