include presentation-header

include menu

article#presentation
	section
		h1 Commit dan Log
		h2 Bekerja dengan Repository Lokal
		p Teknik Kolaborasi TI

	section
		h2 Menyimpan Perubahan pada Repository
		p File, File, File!

include presentation-footer
include main-footer