- var pageTitle = 'SCRUM'

include presentation-header

include menu

article#presentation

	section
		h2 Inner Peace
		hr
		img(src="images/inner-peace.jpg")

	section
		h2 Inner Peace
		hr
		img(src="images/inner-peace1.png")


	section
		h2 Inner Peace
		hr
		img(src="images/inner-peace4.jpg")


	section
		h2 Inner Peace
		hr
		img(src="images/inner-peace2.jpg")

	
include presentation-footer
include main-footer