- var pageTitle = 'User Stories'

include presentation-header

include menu

article#presentation

	section
		h1 Trello & Bug Tracking
		p Teknologi Kolaborasi Pengembangan Perangkat Lunak

	section
		h2.bullet Tujuan Pembelajaran
		hr
		ul
			li Mahasiswa memahami penggunaan Trello dalam Scrum dan User Story.
			li Mahasiswa memahami penggunaan Bug Reporting.

	section
		h2.bullet Apa itu Trello?
		hr
		ul
			li Trello merupakan aplikasi manajemen proyek yang dikembangkan oleh Fog Creek Software
			li Trello pada dasarnya menggunakan sebuah paradigma manajemen proyek yang bernama Kanban.
			li Trello gratis digunakan selama 
	
	section
		h2.bullet Trello
		img.big(src="images/trello.png")
		
	section
		h2.bullet Bagaimana cara kerja Trello?
		hr
		ul
			li Dalam Trello proyek direpresentasikan sebagai "board".
			li Setiap "board" mengandung "list".
			li Setiap "list" mengandung "card".
			li "Card" merepresentasikan item kita, bisa berupa user story dan sebagainya.
			li Kita memindahkan "card" dari satu "list" ke "list" lain dalam satu "board".

	section
		h2.bullet Board dalam Trello
		img.big(src="images/trelloBoard.png")

	section
		h2.bullet List dan Card dalam Trello
		img.big(src="images/trelloList.png")

	section
		h2.bullet Trello dan SCRUM
		p Ada beberapa cara memanfaatkan Trello sebagai perangkat SCRUM
		hr
		ol
			li Menggunakan satu board (untuk proyek kecil)
			li Menggunakan beberapa board (untuk proyek besar) 
		
	section 
		h2.bullet Trello Satu Board
		hr
		ul
			li Backlog, dan Sprint Backlog masing-masing dibuat dalam satu list di board yang sama.
			li Terdapat dua list tambahan yang "On Progress" dan "Done"
			li Setiap Backlog dan Sprint Backlog memuat User Story.

	section
		h2.bullet Trello 1 board
		img.big(src="images/trelloProgress.png")
	
	section
		h2.bullet Trello Satu Board (lanjutan)
		hr
		ul
			li Di awal Sprint Planning, User Story dalam Backlog dipindahkan ke Sprint Backlog.
			li Sprint Backlog memuat semua user story yang harus diselesaikan.
			li Setiap kali anggota development team akan mengerjakan satu card, card tersebut dipindahkan ke "On Progress" list.
			li Jika sudah selesai dipindahkan ke "Done" list.

	section
		h2.bullet Back of the Card
		p Setiap "card" di Trello bisa memuat banyak informasi berharga. 
		ul
			li Members -- Bisa digunakan untuk menset anggota development team yang mengerjakan User Story tersebut.
			li Labels -- Bisa digunakan untuk memberi tanda kepada card tertentu.
			li Checklist -- Bisa digunakan untuk me-list-kan pengujian yang harus dilakukan sebelum card dipindahkan ke done.
			li Due Date -- Bisa digunakan untuk menset limit waktu pengerjaan user story.
			li Attachment -- Bisa digunakan untuk informasi penting lainnya.

include presentation-footer
include main-footer