- var pageTitle = 'User Stories'

include presentation-header

include menu

article#presentation

	section
		h1 Trello & Bug Tracking
		p Teknologi Kolaborasi Pengembangan Perangkat Lunak

	section
		h2.bullet Tujuan Pembelajaran
		hr
		ul
			li Mahasiswa memahami penggunaan Trello dalam Scrum dan User Story.
			li Mahasiswa memahami penggunaan Bug Reporting.

	section
		h2.bullet Apa itu Trello?
		hr
		ul
			li Trello merupakan aplikasi manajemen proyek yang dikembangkan oleh Fog Creek Software
			li Trello pada dasarnya menggunakan sebuah paradigma manajemen proyek yang bernama Kanban.
			li Trello gratis digunakan selama 
		img.big(src="images/trello.png")
		
	section
		h2.bullet Bagaimana cara kerja Trello?
		hr
		ul
			li Dalam Trello proyek direpresentasikan sebagai "board".
			li Setiap "board" mengandung "list".
			li Setiap "list" mengandung "card".
			li "Card" merepresentasikan item kita, bisa berupa user story dan sebagainya.
			li Kita memindahkan "card" dari satu "list" ke "list" lain dalam satu "board".

	section
		h2.bullet Board dalam Trello
		img.big(src="images/trelloBoard.png")

	section
		h2.bullet List dan Card dalam Trello
		img.big(src="images/trelloList.png")

include presentation-footer
include main-footer