include header

include menu

div(class="container")
	h2 Inner Peace
	h3 APA ITU INNER PEACE?
	p.
		Perdamaian Diri atau ketenangan pikiran yang mengacu pada suatu keadaan damai dalam mental dan spiritual, dengan pengetahuan yang cukup dan pemahaman untuk menjaga diri yang kuat dalam menghadapi masalah yang dihadapi ( stress ,perselisihan dsb). Menjadi damai dalam tubuh dan pikiran untuk menjadi sehat. Ketenangan pikiran pada umumnya di kaitkan dengan kebahagiaan dan kepuasan.</i>

	p.
		Intinya Inner peace adalah mencari kedamaian diri , tentu setiap orang mempunyai masalah,trauma , dsb. Trauma masalalu pun bisa menyebabkan konflik dalam diri kita yang membuat kita kehilangan Inner Peace.
	p.	
		"Anything Posible If You Have Inner Peace" Demikian cuplikan kalimat yang dilontarkan oleh Master Sifu kepada Po si Dragon Warior dalam Film Kungfu Panda 2. "Semuanya menjadi mungkin bila kau punya kedamaian di dalam dirimu" Memang percakapan dalam film Kungfu Panda 2 inilah yang memberikan ide buat saya untuk menyusun buku baru saya INNER PEACE. Saat melihat film tersebut, ada keinginan kuat untuk segera menyusun INNER PEACE guna memberikan wawasan lain di tengah gemuruhnya gerakan materialisasi. Banyak yang bertanya kepada saya ketika mereka tidak bisa melakukan 'Law of Attraction' dari konsep The Secret ... Jawaban saya sederhana: ada 'Missing part!' Ya! INNER PEACE is a missing part of The Secret!

	p.
		Hampir semua yang dilakukan oleh sebagian besar dari manusia adalah melihat keluar dari dirinya. Banyak sekali tawaran tentang sukses, berkelimpahan materi, rejeki, dan juga kesehatan.

	p.
		Berapa banyak yang kecewa setelah perjalanan jauhnya mengejar sesuatu di luar diri tersebut. Dalam seluruh tradisi ‘kedamaian’ yang diajarkan oleh para Bijaksana dari seluruh tradisi yang ada, mereka mempercayai sebuah kekuatan di dalam diri yang dapat menyelesaikan segala macam persoalan di luar diri.



	p.
		Lebih lanjutnya akan kita jelaskan :)


include main-footer