include header

include menu

div(class="container")
	h2 Inner Peace
	h3 APA ITU INNER PEACE?
	p.
		Perdamaian Diri atau ketenangan pikiran yang mengacu pada suatu keadaan damai dalam mental dan spiritual, dengan pengetahuan yang cukup dan pemahaman untuk menjaga diri yang kuat dalam menghadapi masalah yang dihadapi ( stress ,perselisihan dsb). Menjadi damai dalam tubuh dan pikiran untuk menjadi sehat. Ketenangan pikiran pada umumnya di kaitkan dengan kebahagiaan dan kepuasan.</i>

	p.
		Intinya Inner peace adalah mencari kedamaian diri , tentu setiap orang mempunyai masalah,trauma , dsb. Trauma masalalu pun bisa menyebabkan konflik dalam diri kita yang membuat kita kehilangan Inner Peace.

	p.
		Lebih lanjutnya akan kita jelaskan :)

include main-footer